    {% extends 'site_template.html' %}

{% block body %}
<div id="page-wrapper">
    <br>
    {% if usuarios != None and usuarios != Null %}
    <form class="was-validated" action="../atualizar/{{ usuarios['numeroMatricula'] }}" method="POST">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome" value="{{ usuarios['nome'] }}" autocomplete="on" required>
            <div class="valid-feedback">ok</div>
            <div class="invalid-feedback">Digite seu nome</div>
        </div>
        <div class="form-group">
            <label for="numeroMatricula">Número da Matrícula:</label>
            <input class="form-control" type="text" placeholder="{{ usuarios['numeroMatricula'] }}" readonly />
        </div>
        <div class="form-group">
            <label for="departamento">Departamento:</label>
            <input class="form-control" type="text" id="departamento" name="departamento" placeholder="Departamento" value="{{ usuarios['departamento'] }}" autocomplete="on" required>
            <div class="valid-feedback">ok</div>
            <div class="invalid-feedback">Digite seu departamento</div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" type="text" id="email" name="email" placeholder="Email" value="{{ usuarios['email'] }}" autocomplete="on" required>
            <div class="valid-feedback">ok</div>
            <div class="invalid-feedback">Digite seu Email</div>
        </div>
        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input class="form-control" type="text" id="telefone" name="telefone" placeholder="Telefone" value="{{ usuarios['telefone'] }}" autocomplete="on" required>
            <div class="valid-feedback">ok</div>
            <div class="invalid-feedback">Digite seu telefone</div>
        </div>
        <div class="form-group">
            <label for="modelo">Super Usuário:</label>
            {% if usuarios['isAdmin'] == 1 %}
            <label style="font-style:italic;">SIM</label>
            {% else %}
            <label style="font-style:italic;">NÃO</label>
            {% endif %}
            {% if usuarios['isAdmin'] == 1 %}
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="checkbox" id="isAdmin" name="isAdmin" value="0" checked>Rebaixar permissão
                </label>
            </div>
            {% else %}
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-label" type="checkbox" id="isAdmin" name="isAdmin" value="1" checked>Elevar permissão
                </label>
            </div>
            {% endif %}
        </div>
        <button class="btn btn-primary" type="submit">Atualizar</button> | <a class="btn btn-primary" href="{{url_for('cadastroUsuario_app.usuarios')}}">Voltar</a>
    </form>
    {% endif %}
</div>
{% endblock body %}
