{% extends 'userLayout.html' %}
<head>
    <title>{% block title %}Excluir{% endblock title %}</title>
</head>
<body id="ExcluirEquipamento" class="col-sm-10 form-group-lg">
    <p><b>{% block h1 %}Excluir Usuario{% endblock h1 %}</b></p>
    {% block content %}
    <form action="{{ url_for('.excluir') }}" method="POST">
        <!--<p>Digite o numero da matricula</p>-->
        <input type="text" id="numeroMatricula" name="numeroMatricula" autocomplete="on" />
        <button type="submit">Buscar</button>
    </form>
    <br>
    {% if usuarios != None and usuarios != Null %}
    <form action="./remover/{{ usuarios['numeroMatricula'] }}" method="POST">
        <table class="table" id="listaEquipamentosTable">
            <thead class="thead-dark">
                <tr>
                    <th>Numero da Matricula</th>
                    <th>departamento</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tr>
                <td> {{ usuarios['numeroMatricula'] }}</td>
                <td> {{ usuarios['departamento'] }} </td>
                <td> {{ usuarios['email'] }}</td>
            </tr>
        </table>
        <button type="submit">Excluir</button>
    </form>
    {% endif %}
    <br>
    <!--<a href="{{url_for('cadastroUsuario_app.usuarios')}}">Voltar</a>-->
    {% endblock content %}
</body>
