{% extends 'userLayout.html' %}
<head>
    <title>{% block title %}Localizar{% endblock title %}</title>
</head>
<body id="localizarEquipamento" class="col-sm-10 form-group-lg">
    <p><b>{% block h1 %}Localizar Usuario{% endblock h1 %}</p></b>

    {% block content %}

    <form action="{{ url_for('cadastroUsuario_app.localizar') }}" method="POST">
        <input type="text" id="numeroMatricula" name="numeroMatricula" autocomplete="on" />
        <button type="submit">Buscar</button>
    </form>
    <br>
    {% if usuarios != None and usuarios != Null %}
    <table class="table" id="listaEquipamentosTable">
        <thead class="thead-dark">
            <tr>
                <th>Numero da Matricula</th>
                <th>departamento</th>
                <th>Email</th>
            </tr>
        </thead>
        <tr>
            <td> {{ usuarios['numeroMatricula'] }}</td>
            <td> {{ usuarios['departamento'] }} </td>
            <td> {{ usuarios['Email'] }}</td>
        </tr>
    </table>
    {% endif %}
    <br>
    <a href="{{url_for('cadastroUsuario_app.usuarios')}}">Voltar</a>
    {% endblock content %}
</body>
