{% extends 'site_template.html' %}

{% block body %}
<div id="page-wrapper">
    <p><b>Cadastrar Usuário</b></p>

    <form class="was-validated" action="{{url_for('cadastroUsuario_app.cadastrar')}}" method="POST">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome" autocomplete="on" required>
            <div class="valid-feedback">ok</div>
            <div class="invalid-feedback">Digite seu nome</div>
        </div>
        <div class="form-group">
            <label for="numeroMatricula">Número da Matrícula:</label>
            <input class="form-control" type="text" id="numeroMatricula" name="numeroMatricula" placeholder="Número da Matrícula" autocomplete="on" required>
            <div class="valid-feedback">ok</div>
            <div class="invalid-feedback">Digite o número da Matrícula</div>
        </div>
        <div class="form-group">
            <label for="departamento">Departamento:</label>
            <input class="form-control" type="text" id="departamento" name="departamento" placeholder="Departamento" autocomplete="on" required>
            <div class="valid-feedback">ok</div>
            <div class="invalid-feedback">Digite seu departamento</div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" type="text" id="email" name="email" placeholder="Email" autocomplete="on" required>
            <div class="valid-feedback">ok</div>
            <div class="invalid-feedback">Digite seu Email</div>
        </div>
        <div class="form-group">
            <label for="telefone">Número do telefone:</label>
            <input class="form-control" type="text" id="telefone" name="telefone" placeholder="Número do telefone" autocomplete="on" required>
            <div class="valid-feedback">ok</div>
            <div class="invalid-feedback">
                Telefone
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Cadastrar</button> | <a class="btn btn-primary" href="{{url_for('cadastroUsuario_app.usuarios')}}">Voltar</a>
    </form>

</div>
{% endblock body %}