{% extends 'site_template.html' %}

{% block body %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Profile
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="glyphicon glyphicon-user"></i> Profile
                    </li>
                </ol>
            </div>
        </div>

        <!-- Mensagens -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="mensagens" class=flashes>
            <div class="modal-content">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endwith %}

        <!-- /.row -->
        <form class="was-validated" action="/usuarios/atualizar/{{ current_user.numeroMatricula }}" method="POST">
            <div class="form-group">
                <label for="nome">Nome:*</label>
                <input class="form-control" type="text" pattern="[A-Za-z\s]+$" id="nome" name="nome" placeholder="Nome" value="{{ current_user.nome }}" autocomplete="on" required>
                <div class="valid-feedback">ok</div>
                <div class="invalid-feedback">Digite seu nome(Apenas letras)</div>
            </div>
            <div class="form-group">
                <label for="numeroMatricula">Número da Matrícula:*</label>
                <input class="form-control" type="number" placeholder="{{ current_user.numeroMatricula }}" readonly />
            </div>
            <div class="form-group">
                <label for="departamento">Departamento:*</label>
                <input class="form-control" type="text" id="departamento" name="departamento" placeholder="Departamento" value="{{ current_user.departamento }}" autocomplete="on" required>
                <!--<div class="valid-feedback">ok</div>
            <div class="invalid-feedback">Digite seu departamento</div>-->
            </div>
            <div class="form-group">
                <label for="email">Email:*</label>
                <input class="form-control" type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" id="email" name="email" placeholder="email@email.com" value="{{ current_user.email }}" autocomplete="on" required>
                <div class="valid-feedback">ok</div>
                <div class="invalid-feedback">"exemplo@exemplo.com"</div>
            </div>
            <div class="form-group">
                <label for="telefone">Número do telefone:*</label>
                <input class="form-control" type="text" id="telefone" name="telefone" onkeydown="mask(this, mphone);" value="{{ current_user.telefone }}" autocomplete="on" required>
            </div>
            <div class="form-group">
                <label for="modelo">Administrador:</label>
                {% if current_user.isAdmin == 1 %}
                <label style="font-style:italic;">SIM</label>
                {% else %}
                <label style="font-style:italic;">NÃO</label>
                {% endif %}
            </div>
            <div class="form-group">
                {% if current_user.ultimoAcesso == None %}
                <label for="modelo">
                    Primeir Acesso!!!
                </label>
                {% else %}
                <label for="modelo">
                    Seu último acesso: <i>{{ current_user.ultimoAcesso }}</i>
                </label>
                {% endif %}
            </div>
            <button class="btn btn-success" type="submit">Atualizar dados</button>
        </form>


    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}