{% extends 'site_template.html' %}

{% block body %}
<div id="page-wrapper">
    <div class="container-fluid">

        {% for usuario in usuarios %}
        <!-- modal editar-->
        <div class="modal fade" id="editar{{ usuario['numeroMatricula'] }}" role="dialog">
            <div style="background-color:white; padding:4px;" class="rounded modal-dialog modal-lg">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Editar Usuário</h3>
                <div class="table-responsive">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            {% if usuarios != None and usuarios != Null %}
                            <form class="was-validated" action="/usuarios/atualizar/{{ usuario['numeroMatricula'] }}" method="POST">
                                <div class="form-group">
                                    <label for="nome">Nome:*</label>
                                    <input class="form-control" type="text" pattern="[a-z A-Z]+$" id="nome" name="nome" placeholder="Nome" value="{{ usuario['nome'] }}" autocomplete="on" required>
                                    <div class="valid-feedback">ok</div>
                                    <div class="invalid-feedback">Digite seu nome(Apenas letras)</div>
                                </div>
                                <div class="form-group">
                                    <label for="numeroMatricula">Número da Matrícula:*</label>
                                    <input class="form-control" type="number" placeholder="{{ usuario['numeroMatricula'] }}" readonly />
                                </div>
                                <div class="form-group">
                                    <label for="departamento">Departamento:*</label>
                                    <input class="form-control" type="text" id="departamento" pattern="[A-Za-z\s]+$" name="departamento" placeholder="Departamento" value="{{ usuario['departamento'] }}" autocomplete="on" required>
                                    <!--<div class="valid-feedback">ok</div>
                                    <div class="invalid-feedback">Digite seu departamento</div>-->
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:*</label>
                                    <input class="form-control" type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" id="email" name="email" placeholder="email@email.com" value="{{ usuario['email'] }}" autocomplete="on" required>
                                    <div class="valid-feedback">ok</div>
                                    <div class="invalid-feedback">"exemplo@exemplo.com"</div>
                                </div>
                                <div class="form-group">
                                    <label for="telefone">Número do telefone:*</label>
                                    <input class="form-control" type="text" id="telefone" name="telefone" onkeydown="mask(this, mphone);" value="{{ usuario['telefone'] }}" autocomplete="on" required>
                                </div>
                                <div class="form-group">
                                    <label for="modelo">Administrador:*</label>

                                    <div class="form-group form-check">
                                        {% if usuario['isAdmin'] == 1 %}
                                        <label class="form-check-label">
                                            <input class="form-check-label" type="radio" id="isAdmin" name="isAdmin" value="1" checked>SIM
                                        </label>
                                        <br />
                                        <label class="form-check-label">
                                            <input class="form-check-label" type="radio" id="isAdmin" name="isAdmin" value="0">NÃO
                                        </label>
                                        {% else %}
                                        <label class="form-check-label">
                                            <input class="form-check-label" type="radio" id="isAdmin" name="isAdmin" value="1" checked>SIM
                                        </label>
                                        <br />
                                        <label class="form-check-label">
                                            <input class="form-check-label" type="radio" id="isAdmin" name="isAdmin" value="0" checked>NÃO
                                        </label>
                                        {% endif %}
                                    </div>
                                </div>
                                <button class="btn btn-success" type="submit">Atualizar</button> | <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                    <h10 class="center">*Campos obrigatórios</h10>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- modal editar -->
        <!-- modal cadastrar -->
        <div class="modal fade" id="cadastrar" role="dialog">
            <div style="background-color:white; padding:4px;" class="rounded modal-dialog modal-lg">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Cadastrar Usuário</h3>
                <div class="table-responsive">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <form class="was-validated" action="{{url_for('cadastroUsuario_app.cadastrar')}}" method="POST">
                                <div class="form-group">
                                    <label for="nome">Nome:*</label>
                                    <input class="form-control" type="text" pattern="[A-Za-z\s]+$" id="nome" name="nome" placeholder="Nome" min="5" max="50" autocomplete="on" required>
                                    <span class="validity"></span>
                                </div>
                                <div class="form-group">
                                    <label for="numeroMatricula">Número da Matrícula:*</label>
                                    <input class="form-control" type="number" pattern="[0-9]" id="numeroMatricula" name="numeroMatricula" placeholder="Número da Matrícula" autocomplete="on" required>
                                    <span class="validity"></span>
                                </div>
                                <div class="form-group">
                                    <label for="departamento">Departamento:*</label>
                                    <input class="form-control" type="text" pattern="[A-Za-z\s]+$" id="departamento" name="departamento" placeholder="Departamento" autocomplete="on" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:*</label>
                                    <input class="form-control" type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" id="email" name="email" placeholder="email@email.com" autocomplete="on" required>
                                </div>
                                <div class="form-group">
                                    <label for="telefone">Número do telefone:*</label>
                                    <input class="form-control" type="text" id="telefone" name="telefone" onkeydown="mask(this, mphone);" autocomplete="on" required>
                                </div>
                                <!--<div class="form-group">
                                    <label for="modelo">Administrador:*</label>
                                    <div class="form-group form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" id="isAdmin" name="isAdmin" value="1">
                                        </label>
                                    </div>
                                </div>-->
                                <div class="form-group">
                                    <label for="modelo">Administrador:*</label>
                                    <div class="form-group form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-label" type="radio" id="isAdmin" name="isAdmin" value="1">SIM
                                        </label>
                                        <br />
                                        <label class="form-check-label">
                                            <input class="form-check-label" type="radio" id="isAdmin" name="isAdmin" value="0" checked>NÃO
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-success" type="submit">Cadastrar</button> | <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            </form>
                        </div>
                    </div>
                    <h10 class="center">*Campos obrigatórios</h10>
                </div>
            </div>
        </div>
        <!-- modal cadastrar -->
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Usuários
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-fw fa-user"></i> Usuários
                    </li>
                </ol>
            </div>
        </div>

        <form action="{{ url_for('cadastroUsuario_app.localizar') }}" method="POST">
            <div class="input-group">
                <input type="text" id="numeroMatricula" name="numeroMatricula" class="form-control" autocomplete="on" placeholder="Pesquise pelo Número da matrícula ou Nome ou Email" />
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
        <a href="" class="btn btn-primary h1" data-toggle="modal" data-target="#cadastrar">Novo Usuário</a>
        <br />

        <!-- Mensagens -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="mensagens" class=flashes>
            <div class="modal-content">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endwith %}

        <div class="table-responsive">
            {% if usuarios != None and usuarios != Null %}
            <table class="table table-sm table-hover table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Nome</th>
                        <th>Matrícula</th>
                        <th>Departamento</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>ADM</th>
                        <th class="actions">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario['nome'] }}</td>
                        <td>{{ usuario['numeroMatricula'] }}</td>
                        <td>{{ usuario['departamento']  }}</td>
                        <td>{{ usuario['email'] }}</td>
                        <td>{{ usuario['telefone'] }}</td>
                        {% if usuario['isAdmin'] == 1 %}
                        <td>SIM</td>
                        {% else %}
                        <td>NÃO</td>
                        {% endif %}
                        <td class="actions">
                            <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#editar{{ usuario['numeroMatricula'] }}">Editar</a>
                            <a href="/usuarios/remover/{{ usuario['numeroMatricula'] }}" class="btn btn-danger btn-xs" onclick="return confirm('Deseja mesmo deletar este usuário?')">Deletar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>

{% endblock body %}