{% extends 'site_template.html' %}

{% block body %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Solicitar Empréstimo
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-table"></i> Solicitar Empréstimo
                    </li>
                </ol>
            </div>
        </div>
        <div id="page-wrapper">

            <!-- Modal addEquipamento -->
            <div class="modal fade" id="addEquipamento" role="dialog">
                <div style="background-color:white; padding:4px;" class="rounded modal-dialog modal-lg">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Selecione os Equipamentos</h3>
                    <div class="table-responsive">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">
                                <form action="/solicitarEmprestimo" method="POST">
                                    <table class="table table-sm table-hover table-striped">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Equip N°</th>
                                                <th>Marca</th>
                                                <th>Modelo</th>
                                                <th class="actions">Adicionar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for equipamento in equipamentos %}
                                            <tr>
                                                <td>{{ equipamento.numeroEquipamento }}</td>
                                                <td>{{ equipamento.marca }}</td>
                                                <td>{{ equipamento.modelo }}</td>
                                                <td>
                                                    <label>
                                                        <input type="checkbox" id="addEquip" name="addEquip" value="{{equipamento.numeroEquipamento}}" />
                                                    </label>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <button type="submit" class="btn btn-primary">Adicionar</button>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fim Modal addEquipamento -->

            <form class="was-validated" action="{{url_for('solicitarEmprestimo_app.cadastrar')}}" method="POST">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    {% if current_user.isAdmin == 1 %}
                    <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome" autocomplete="on" required>
                    {% else %}
                    <input class="form-control" type="text" id="nome" name="nome" placeholder="{{ current_user.nome }}" value="{{ current_user.nome }}" readonly>
                    {% endif %}
                    <div class="valid-feedback">ok</div>
                    <div class="invalid-feedback">Digite o Nome</div>
                </div>
                <div class="form-group">
                    <label for="numeroMatricula">Número da Matrícula:</label>
                    {% if current_user.isAdmin == 1 %}
                    <input class="form-control" type="text" id="numeroMatricula" name="numeroMatricula" placeholder="Número da Matrícula" autocomplete="on" required>
                    {% else %}
                    <input class="form-control" type="text" id="numeroMatricula" name="numeroMatricula" placeholder="{{ current_user.numeroMatricula }}" value="{{ current_user.numeroMatricula }}" readonly>
                    {% endif %}
                    <div class="valid-feedback">ok</div>
                    <div class="invalid-feedback">Número da Matrícula</div>
                </div>
                <a class="btn btn-primary h1" data-toggle="modal" data-target="#addEquipamento">Adicionar Equipamentos</a>
                <div class="form-group">
                    {% if equips %}
                    <label for="dtEmprestimo">Número do Equipamento:</label>
                    <input class="form-control" type="text" id="numeroEquipamento" name="numeroEquipamento" placeholder="{{ equips }}" value="{{ equips }}" readonly>
                    {% else %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="dtEmprestimo">Data e hora do Empréstimo:</label>
                    <input class="form-control" type="datetime-local" id="dtEmprestimo" name="dtEmprestimo" placeholder="Data do Empréstimo" autocomplete="on" required>
                    <div class="valid-feedback">ok</div>
                    <div class="invalid-feedback">Digite a Data e a Hora do Empréstimo</div>
                </div>
                <div class="form-group">
                    <label for="dtDevolucao">Data e Hora da Devolução do Empréstimo:</label>
                    <input class="form-control" type="datetime-local" id="dtDevolucao" name="dtDevolucao" placeholder="Data devolução do Empréstimo" autocomplete="on" required>
                    <div class="valid-feedback">ok</div>
                    <div class="invalid-feedback">Digite a Data e hora da devolução do Empréstimo</div>
                </div>

                <!--<div class="form-group form-check" id="STATUS" name="STATUS">
        <label class="form-check-label">
            <input type="checkbox" id="status" name="status" value="ATIVO" checked>ATIVO
        </label>
        <label class="form-check-label">
            <input type="checkbox" id="status" name="status" value="INATIVO">INATIVO
        </label>
    </div>-->

                <button class="btn btn-primary" type="submit">Cadastrar</button> | <a class="btn btn-primary" href="{{url_for('index')}}">Voltar</a>
            </form>
            <br />
        </div>
        <div id="mensagens">
            {{mensagem}}
        </div>
    </div>
</div>
{% endblock body %}
