{% extends 'site_template.html' %}



{% block body %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Solicitar Empréstimo
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="glyphicon glyphicon-briefcase"></i> Solicitar Empréstimo
                    </li>
                </ol>
            </div>
        </div>
        <div id="page-wrapper">
            <!-- Modal addEquipamento -->
            <div class="modal fade" id="addEquipamento" role="dialog">
                <div style="background-color:white; padding:4px;" class="rounded modal-dialog modal-lg">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="table-responsive">
                        <form action="/solicitarEmprestimo" method="POST">
                            <!-- Modal content user -->
                            {% if current_user.isAdmin == 1 %}
                            <div class="modal-content" id="chooseUser">
                                <h3>Escolher usuário</h3>
                                <select name='selectUser' onchange="this.form.submit()">
                                    {% if selectUser and selectUser[0] != '' %}
                                    <option value="{{ selectUser[0] }},{{ selectUser[1] }}" selected='selected'>Nome: {{ selectUser[0] }}, Matrícula: {{ selectUser[1] }}</option>
                                    <option value=""></option>
                                    {% else %}
                                    <option value="" selected='selected'></option>
                                    {% endif %}
                                    {% for usuario in usuarios %}
                                    <option value="{{ usuario.nome }},{{ usuario.numeroMatricula }}">Nome: {{ usuario.nome }}, Matrícula: {{ usuario.numeroMatricula }}</option>
                                    {% endfor %}
                                </select>
                                <br />
                                <br />
                            </div>
                            {% endif %}
                            <br />
                            <!-- Modal content equip -->
                            <div class="modal-content" id="chooseEquip">
                                <h3>Adicionar equipamento</h3>
                                <div class="modal-body">
                                    <table class="table table-sm table-hover table-striped">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Equip N°</th>
                                                <th>Marca</th>
                                                <th>Modelo</th>
                                                <th class="actions">Adicionar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for equipamento in equipamentos %}
                                            <tr>
                                                <td>{{ equipamento.numeroEquipamento }}</td>
                                                <td>{{ equipamento.marca }}</td>
                                                <td>{{ equipamento.modelo }}</td>
                                                <td>
                                                    <label>
                                                        {% set equip = equipamento.numeroEquipamento | string %}
                                                        {% for e in equips if e.split(';')[0].strip() == equip %}
                                                        <input type="checkbox" id="addEquip" name="addEquip" value="{{equipamento.numeroEquipamento}};{{equipamento.marca}};{{equipamento.modelo}}" checked />
                                                        {% else %}
                                                        <input type="checkbox" id="addEquip" name="addEquip" value="{{equipamento.numeroEquipamento}};{{equipamento.marca}};{{equipamento.modelo}}" />
                                                        {% endfor %}
                                                    </label>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <button type="submit" class="btn btn-success">Adicionar</button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- fim addEquipamento -->

            <form class="was-validated" action="/solicitarEmprestimo/cadastrar" method="POST" novalidate>
                {{ formSolicitarEmprestimo.csrf_token }}
                {% if current_user.isAdmin != 1 %}
                <div class="form-group">
                    <label for="nome">Nome:*</label>
                    <input class="form-control" type="text" pattern="[a-zA-Z\s]+$" id="nome" name="nome" placeholder="{{ current_user.nome }}" value="{{ current_user.nome }}" readonly>
                    {% for error in formSolicitarEmprestimo.nome.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="numeroMatricula">Número da Matrícula:*</label>
                    <input class="form-control" type="text" id="numeroMatricula" name="numeroMatricula" placeholder="{{ current_user.numeroMatricula }}" value="{{ current_user.numeroMatricula }}" readonly>
                    {% for error in formSolicitarEmprestimo.numeroMatricula.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <a href="" class="btn btn-secondary h1" id="adddEq" data-toggle="modal" onclick="soEquip()" data-target="#addEquipamento">ADICIONAR EQUIPAMENTO</a>
                {% elif selectUser %}
                <!--<a href="" class="btn btn-primary h1" data-toggle="modal" data-target="#addUser">ADICIONAR USUÁRIO</a>-->
                <a href="" class="btn btn-secondary h1" id="ADDue" data-toggle="modal" onclick="soUser()" data-target="#addEquipamento">ESCOLHER USUÁRIO</a>
                <div class="form-group">
                    <label for="nome">Nome:*</label>
                    <input class="form-control" type="text" pattern="[a-zA-Z\s]+$" id="nome" name="nome" value="{{ selectUser[0] }}" readonly>
                    {% for error in formSolicitarEmprestimo.nome.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="numeroMatricula">Número da Matrícula:*</label>
                    <input class="form-control" type="text" id="numeroMatricula" name="numeroMatricula" value="{{ selectUser[1] }}" readonly>
                    {% for error in formSolicitarEmprestimo.numeroMatricula.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <a href="" class="btn btn-secondary" data-toggle="modal" onclick="soEquip()" data-target="#addEquipamento">ADICIONAR EQUIPAMENTO</a>
                {% else %}
                <a href="" class="btn btn-secondary" data-toggle="modal" onclick="soUser()" data-target="#addEquipamento">ESCOLHER USUÁRIO</a>
                <div class="form-group">
                    <label for="nome">Nome:*</label>
                    <input class="form-control" type="text" id="nome" name="nome" value="" readonly>
                    {% for error in formSolicitarEmprestimo.nome.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="numeroMatricula">Número da Matrícula:*</label>
                    <input class="form-control" type="text" id="numeroMatricula" name="numeroMatricula" value="" readonly>
                    {% for error in formSolicitarEmprestimo.numeroMatricula.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <a href="" class="btn btn-secondary" data-toggle="modal" onclick="soEquip()" data-target="#addEquipamento">ADICIONAR EQUIPAMENTO</a>
                {% endif %}
                <div class="form-group">
                    {% if equips %}
                    <label for="numeroEquipamento">Equipamento:*</label>
                    <input class="form-control" type="text" id="numeroEquipamento" name="numeroEquipamento" value="{{ equips }}" readonly>
                    {% for error in formSolicitarEmprestimo.numeroEquipamento.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    <label for="numeroEquipamento">Equipamento:*</label>
                    <input class="form-control" type="text" id="numeroEquipamento" name="numeroEquipamento" value="" readonly>
                    {% for error in formSolicitarEmprestimo.numeroEquipamento.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="dtEmprestimo">Data e hora do Empréstimo:*</label>
                    {% if dtEmprestimo %}
                    <input class="form-control" type="text" data-field="datetime" name="dtEmprestimo" value="{{ dtEmprestimo }}" readonly>
                    <div id="datetimepicker1"></div>
                    {% else %}
                    <input class="form-control data" type="text" data-field="datetime" name="dtEmprestimo" placeholder="&#xf073;" readonly>
                    <div id="datetimepicker1"></div>
                    {% endif %}
                    {% for error in formSolicitarEmprestimo.dtEmprestimo.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="dtDevolucao">Data e Hora da Devolução do Empréstimo:*</label>
                    {% if dtDevolucao %}
                    <input class="form-control" type="text" data-field="datetime" name="dtDevolucao" value="{{ dtDevolucao }}" readonly>
                    <div id="datetimepicker2"></div>
                    {% else %}
                    <input class="form-control data" type="text" data-field="datetime" name="dtDevolucao" placeholder="&#xf073;" readonly>
                    <div id="datetimepicker2"></div>
                    {% endif %}
                    {% for error in formSolicitarEmprestimo.dtDevolucao.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>

                <button class="btn btn-success" type="submit">Cadastrar</button> | <a class="btn btn-danger" href="{{url_for('index')}}">Cancelar</a>
            </form>
            <br />
            <h10 class="center">*Campos obrigatórios</h10>
        </div>
        <div id="mensagens">
            {{mensagem}}
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script>
    $(document).ready(function () {
        $('#datetimepicker1').DateTimePicker();

        $('#datetimepicker2').DateTimePicker();
    });
</script>

{% endblock body %}
