@media only screen and (max-device-width: 1130px) {
    table {
        font-size: 9pt;
    }

    .actions .btn {
        font-size: 8pt;
    }

    td.actions {
        display: inline-flex;
    }
}

@media only screen and (max-device-width: 950px) {
    table {
        font-size: 8pt;
    }

    .actions .btn {
        font-size: 7pt;
    }
}

@media only screen and (max-device-width: 860px) {
    table {
        font-size: 7pt;
    }

    .actions .btn {
        font-size: 6pt;
    }
}


@media only screen and (max-device-width: 550px) {
    .actions .btn {
        font-size: 8px;
    }

    td.actions {
        display: inline-flex;
    }

    .login-html .tab {
        font-size: 12pt;
    }
}

@media only screen and (max-device-width: 390px) {
    .login-html .tab {
        font-size: 9pt;
    }
}


.table {
    text-align: center;
}

    .table th {
        text-align: center;
    }

#mensagens {
    text-align: center;
    font-size: 20px;
}

a.btn {
    color: white;
}


input.data {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

    input.data::-webkit-input-placeholder { /* Chrome, Safari, Opera */
        text-align: right;
    }

    input.data:-moz-placeholder { /* Firefox 18- */
        text-align: right;
    }

    input.data::-moz-placeholder { /* Firefox 19+ */
        text-align: right;
    }

    input.data:-ms-input-placeholder { /* IE10+ */
        text-align: right;
    }


/*.login {
    margin: 20px auto;
    width: 300px;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.app-title {
    text-align: center;
    color: #777;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
}*/

/*input {
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

    input:focus {
        border: 2px solid #3498DB;
        box-shadow: none;
    }
    */


/*.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

    .btn:hover {
        background-color: #2980B9;
    }*/


#footer {
    color: #9d9d9d;
    padding: 2px;
    text-align: center;
}
