@media only screen and (max-device-width: 900px) {
    * {
        font-size:10pt;
    }
}

header h1 {
    background: #808080;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding:20px;
}

body {
    margin-bottom: 46px;
}

a {
    -webkit-appearance: button;
    -moz-appearance: button;
    color: initial;
    padding:3px;
 }
    a:link {
        text-decoration:none;
    }
    a:hover,button:hover {
        background:#ff0000;
        color:#ffffff;
        
    }

#editarEquipamento {
    text-align: center;
}

#menu {
    width: 100%;
    padding: 10px;
    font-size: 16pt;
    display: inline-block;
}

h1 {
    text-align:center;
}

th, td {
    border: 1px solid black;
    text-align:center;
}

#mensagens {
    text-align:center;
    font-size:30px;
}


footer {
    padding:3px;
    position: fixed;
    bottom: 0;
    height:30px;
    background:#808080;
    display:block;
    width:100%;
    text-align:center;
}

