<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="/static/css/custom.css" rel="stylesheet">
    <link rel='shortcut icon' href='/static/imagens/favicon.ico.png' />

    <!-- MAIN CSS-->
    <link href="/static/css/main.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <!-- Mensagens -->
                {% if get_flashed_messages() %}
                {% with messages = get_flashed_messages() %}
                <div id="mensagens" class=flashes>
                    <p>
                        <div class="modal-content" style="color:red;">
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </div>
                    </p>
                </div>
                {% endwith %}
                {% else %}
                {% if mensagens %}

                <div id="mensagens" class=flashes>
                    <p>
                        <div class="modal-content" style="color:red;">
                            {{ mensagens }}
                        </div>
                    </p>
                </div>
                {% endif %}
                {% endif %}
                <!-- fim Mensagens -->

                <div class="panel panel-login">
                    <div class="panel-heading">
                        Cadastrar senha
                        <hr>
                    </div>
                    <div class="panel-body">
                        {% if usuario %}
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="register-form" action="/ativarConta" method="POST" role="form">
                                    <div class="form-group">
                                        Nome
                                        <input type="text" name="nome" id="nome" class="form-control" value="{{usuario.nome}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        Email
                                        <input type="email" name="email" id="email" class="form-control" value="{{usuario.email}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        Matrícula
                                        <input class="form-control" type="text" id="numeroMatricula" name="numeroMatricula" value="{{usuario.numeroMatricula}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        Departamento
                                        <input class="form-control" type="text" id="departamento" name="departamento" value="{{usuario.departamento}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        Telefone
                                        <input class="form-control" type="text" id="telefone" name="telefone" value="{{usuario.telefone}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="confirmarSenha" id="confirmarSenha" class="form-control" placeholder="Confirmar senha" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="ativar-submit" id="ativar-submit" tabindex="3" class="form-control btn btn-register" value="Ativar">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% else %}
                        <a class="btn btn-primary" href="{{url_for('index')}}">HOME</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!--Meu Js-->
    <script src="/static/js/scripts.js"></script>
</body>
</html>