<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <link rel='shortcut icon' href='/static/imagens/favicon.ico.png' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Inotec</title>

    <!-- login CSS-->
    <link href="/static/css/login.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">

    <!--Fonts-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <div class="login-wrap">
        <img src="/static/imagens/binary-960_678.jpg" alt="imagem de fundo" />
        <div class="login-html">
            <!-- Mensagens -->
            {% if get_flashed_messages() %}
            {% with messages = get_flashed_messages() %}
            <div id="mensagens" class=flashes>
                <p>
                    <div class="modal-content" style="color:red;">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                </p>
            </div>
            {% endwith %}
            {% else %}
            {% if mensagens %}

            <div id="mensagens" class=flashes>
                <p>
                    <div class="modal-content" style="color:red;">
                        {{ mensagens }}
                    </div>
                </p>
            </div>
            {% endif %}
            {% endif %}
            <!-- fim Mensagens -->
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
            <label for="tab-1" class="tab">Fazer Login</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up">
            <label for="tab-2" class="tab">Novo Login</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <form class="was-validated" id="form-login" action="/login" method="post">
                        <div class="group">
                            <label for="email" class="label">Email:*</label>
                            <input type="email" class="input" id="email" name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="email@email.com" value="" autocomplete="off" required>
                        </div>
                        <div class="group">
                            <label for="senha" class="label">Senha:*</label>
                            <input type="password" class="input" id="senha" name="senha" data-type="password" autocomplete="off" required>
                            <i id="password-eye" toggle="#password-field" class="fa fa-lg fa-fw fa-eye-slash password-eye-icon"></i>
                        </div>
                        <div class="group">
                            <input id="checkLemnbrar" type="checkbox" class="check" checked>
                            <label for="checkLemnbrar"><span class="icon"></span> Lembrar Login</label>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Entrar">
                        </div>
                    </form>
                </div>

                <div class="sign-up-htm">
                    <form class="was-validated" action="/novoLogin" method="post">
                        {% if novoLogin %}
                        <div class="group">
                            <label for="nome" class="label">Nome:*</label>
                            <input id="nome" name="nome" type="text" class="input" pattern="[A-Za-z\s]+$" value="{{ novoLogin['nome'] }}" autocomplete="off" required>
                        </div>
                        <div class="group">
                            <label for="numeroMatricula" class="label">Número Matrícula:*</label>
                            <input id="numeroMatricula" name="numeroMatricula" type="number" class="input" value="{{ novoLogin['numeroMatricula'] }}" autocomplete="off" required>
                        </div>
                        <div class="group">
                            <label for="departamento" class="label">Departamento:*</label>
                            <input class="input" type="text" pattern="[A-Za-z\s]+$" id="departamento" name="departamento" value="{{ novoLogin['departamento'] }}" autocomplete="off" required>
                        </div>
                        <div class="group">
                            <label for="emailCad" class="label">Email:*</label>
                            <input type="email" class="input" id="emailCad" name="emailCad" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="email@email.com" value="{{ novoLogin['email'] }}" autocomplete="off" required>
                        </div>
                        <div class="group">
                            <label for="telefone" class="label">Número do telefone:*</label>
                            <input class="input" type="tel" onkeydown="mask(this, mphone);" id="telefone" name="telefone" value="{{ novoLogin['telefone'] }}" autocomplete="off" required>
                        </div>
                        <div class="group">
                            <label for="senhaCad" class="label">Senha:*</label>
                            <input id="senhaCad" name="senhaCad" type="password" class="input passw" data-type="password" autocomplete="off" required>
                        </div>
                        <div class="group">
                            <label for="confirmarSenha" class="label">Repetir a senha:*</label>
                            <input id="confirmarSenha" name="confirmarSenha" type="password" class="input passw" data-type="password" autocomplete="off" required>
                        </div>

                        <div class="group">
                            <input type="submit" class="button" value="Cadastrar">
                        </div>

                        {% else %}

                        <div class="group">
                            <label for="nome" class="label">Nome:*</label>
                            <input id="nome" name="nome" type="text" class="input" pattern="[A-Za-z\s]+$" value="" autocomplete="off" required>
                        </div>
                        <div class="group">
                            <label for="numeroMatricula" class="label">Número Matrícula:*</label>
                            <input id="numeroMatricula" name="numeroMatricula" type="number" class="input" value="" autocomplete="off" required>
                        </div>
                        <div class="group">
                            <label for="departamento" class="label">Departamento:*</label>
                            <input class="input" type="text" id="departamento" name="departamento" autocomplete="off" required>
                        </div>
                        <div class="group">
                            <label for="emailCad" class="label">Email:*</label>
                            <input type="email" class="input" id="emailCad" name="emailCad" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="email@email.com" value="" autocomplete="off" required>
                        </div>
                        <div class="group">
                            <label for="telefone" class="label">Número do telefone:*</label>
                            <input class="input" type="text" id="telefone" name="telefone" onkeydown="mask(this, mphone);" autocomplete="off" required>
                        </div>
                        <div class="group">
                            <label for="senhaCad" class="label">Senha:*</label>
                            <input id="senhaCad" name="senhaCad" type="password" class="input" data-type="password passw" autocomplete="off" required>
                        </div>
                        <div class="group">
                            <label for="confirmarSenha" class="label">Repetir a senha:*</label>
                            <input id="confirmarSenha" name="confirmarSenha" type="password" class="input" data-type="password" autocomplete="off" required>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Cadastrar">
                        </div>
                        {% endif %}

                        <!--<div class="hr"></div>
                        <div class="foot-lnk">
                            <label for="tab-1">Já sou cadastrado!</label>
                        </div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- jQuery -->
    <script src="/static/js/jquery-3.5.1.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!--MASKARA TELEFONE-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>-->
    <!--MASKARA TELEFONE-->

    <!--Meu Js-->
    <script src="/static/js/scriptsLogin.js"></script>

</body>

</html>