<!-- bseLayout.html -->
<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock title %} - Equipamentos</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/main.css') }}" />
    {% endblock css %}
</head>
{% block body %}

<h1>{% block h1 %}{% endblock h1 %}</h1>
<div id="menu">
    {% block nav %}
    <a href="{{url_for('.localizar')}}">Localizar</a>
    <a href="{{url_for('.cadastrar')}}">Cadastrar</a>
    <a href="{{url_for('.editar')}}">Editar</a>
    <a href="{{url_for('.excluir')}}">Excluir</a>
    {% endblock nav %}
</div>
<br>
    {% block content %}
<table id="listaEquipamentos">
    <tr>
        <th>Numero Equipamento</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Status</th>
    </tr>
    {% for item in equipamentos %}
    <tr>
        <td>{{ item['numeroEquipamento'] }}</td>
        <td>{{ item['marca']  }}</td>
        <td>{{ item['modelo'] }}</td>
        <td>{{ item['status']}}</td>
    </tr>
    {% endfor %}
</table>

    {% endblock content %}
<div id="mensagens">
    {{mensagem}}
</div>

    {% block footer %}
<div class="footer">
    <p>Copyright 2019 - OPE/Faculdade Impacta</p>
</div>
    {% endblock footer %}
{% endblock body %}
</html>