<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/main.css') }}" />
    <title>Excluir Equipamento</title>
</head>
<body>
    <p>
        <b>Excluir Equipamentos</b>
    </p>
    <div id="localizarEquipamento">
        <form action="{{ url_for('.excluir') }}" method="POST">
            <!--<p>Digite o numero do equipamento</p>-->
            <input type="text" id="numeroEquipamento" name="numeroEquipamento" autocomplete="on" />
            <button type="submit">Buscar</button>
        </form>
    </div>
    <br>
    <div id="ExcluirEquipamento">
        {% if equipamento != Null %}
        <form action="./remover" method="POST">
            Numero do equipamento:<input type="text" id="numeroEquipamento" name="numeroEquipamento" autocomplete="on" value="{{ equipamento['numeroEquipamento'] }}" />
            <br>
            Marca:<input type="text" id="marca" name="marca" autocomplete="on" value="{{ equipamento['marca'] }}" />
            <br>
            Modelo:<input type="text" id="modelo" name="modelo" autocomplete="on" value="{{ equipamento['modelo'] }}" />
            <br>
            Status:<input type="text" id="status" name="status" value="{{ equipamento['status'] }}" />
            <br>
            <input type="submit" value="Excluir">
        </form>
        {% endif %}
        <p>{{ mensagem }}</p>
        <br>
        <a href="{{url_for('.index')}}">Voltar</a>
    </div>
</body>
</html>