<!DOCTYPE html>
{% extends 'baseLayout.html' %}
<html>
<head>
    <title>{% block title %}Excluir{% endblock title %} - Equipamentos</title>
</head>

<p><b>{% block h1 %}Excluir Equipamentos{% endblock h1 %}</b></p>
{% block content %}
<div id="EcluirEquipamento">
    <form action="{{ url_for('.excluir') }}" method="POST">
        <!--<p>Digite o numero do equipamento</p>-->
        <input type="text" id="numeroEquipamento" name="numeroEquipamento" autocomplete="on" />
        <button type="submit">Buscar</button>
    </form>
</div>
<br>
<div id="ExcluirEquipamento">
    {% if equipamento != Null %}
    <form action="./remover/{{ equipamento['numeroEquipamento'] }}" method="POST">
        <table id="excluirEquipamento">
            <tr>
                <th>Numero do equipamento</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Status</th>
            </tr>
            <tr>
                <td id="" name="numeroEquipamento">{{ equipamento['numeroEquipamento'] }}</td>
                <td id="">{{ equipamento['marca'] }}</td>
                <td id="">{{ equipamento['modelo'] }}</td>
                <td id="">{{ equipamento['status'] }}</td>
            </tr>
        </table>
        <input type="submit" value="Excluir">
    </form>
    {% endif %}
    <br>
    <a href="{{url_for('.index')}}">Voltar</a>
</div>
{% endblock content %}
</html>