{% extends 'site_template.html' %}

{% block body %}
<!-- HTML5 -->
<meta charset="utf-8"/>
    <div id="page-wrapper">
        <p><b>Cadastrar Equipamento</b></p>

        <form class="was-validated" action="{{url_for('.cadastrar')}}" method="POST">
            <div class="form-group">
                <label for="numeroEquipamento">Numero do equipamento:</label>
                <input class="form-control" type="text" id="numeroEquipamento" name="numeroEquipamento" placeholder="Numero do equipamento" autocomplete="on" required>
                <div class="valid-feedback">ok</div>
                <div class="invalid-feedback">Digite o numero do equipamento</div>
            </div>
            <div class="form-group">
                <label for="marca">Marca:</label>
                <input class="form-control" type="text" id="marca" name="marca" placeholder="Marca do equipamento" autocomplete="on" required>
                <div class="valid-feedback">ok</div>
                <div class="invalid-feedback">Digite a marca do equipamento</div>
            </div>
            <div class="form-group">
                <label for="modelo">Modelo:</label>
                <input class="form-control" type="text" id="modelo" name="modelo" placeholder="Modelo do equipamento" autocomplete="on" required>
                <div class="valid-feedback">ok</div>
                <div class="invalid-feedback">Digite o modelo do equipamento</div>
            </div>
            <div class="form-group form-check" id="situacao" name="situacao">
                <label class="form-check-label">
                    <input type="checkbox" id="situacao" name="situacao" value="ATIVO" checked>ATIVO
                </label>
                <label class="form-check-label">
                    <input type="checkbox" id="situacao" name="situacao" value="INATIVO">INATIVO
                </label>
            </div>
            <button class="btn btn-primary" type="submit">Cadastrar</button> | <a class="btn btn-primary" href="{{url_for('equipamentos_app.equipamentos')}}">Voltar</a>
        </form>

    </div>
{% endblock body %}
