{% extends 'baseLayout.html' %}
<head>
    <title>{% block title %}Editar{% endblock title %}</title>
</head>
<body class="col-sm-10 form-group-lg">
    <p><b>{% block h1 %}Editar Equipamentos{% endblock h1 %}</b></p>
    {% block content %}
    <form action="{{ url_for('.editar') }}" method="POST">
        <input type="text" id="numeroEquipamento" name="numeroEquipamento" autocomplete="on" />
        <button type="submit">Buscar</button>
    </form>
    <br>
    {% if equipamento != None and equipamento != Null %}
    <form class="was-validated" action="./atualizar/{{ equipamento['numeroEquipamento'] }}" method="POST">
        <div class="form-group">
            <label for="numeroEquipamento">Numero do equipamento:</label>
            <input class="form-control" type="text" placeholder="{{ equipamento['numeroEquipamento'] }}" readonly/>
        </div>
        <div class="form-group">
            <label for="marca">Marca:</label>
            <input class="form-control" type="text" id="marca" name="marca" placeholder="Marca do equipamento" value="{{ equipamento['marca'] }}" autocomplete="on" required>
            <div class="valid-feedback">ok</div>
            <div class="invalid-feedback">Digite a marca do equipamento</div>
        </div>
        <div class="form-group">
            <label for="modelo">Modelo:</label>
            <input class="form-control" type="text" id="modelo" name="modelo" placeholder="Modelo do equipamento" value="{{ equipamento['modelo'] }}" autocomplete="on" required>
            <div class="valid-feedback">ok</div>
            <div class="invalid-feedback">Digite o modelo do equipamento</div>
        </div>
        <div class="form-group">
            <label for="modelo">Status atual:</label>
            <label>{{ equipamento['status'] }}</label>
            {% if equipamento['status'] == "ATIVO" %}
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="checkbox" id="status" name="status" value="INATIVO">INATIVAR
                </label>
            </div>
            {% else %}
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-label" type="checkbox" id="status" name="status" value="ATIVO" checked>ATIVAR
                </label>
            </div>
            {% endif %}
        </div>
        <button type="submit">Atualizar</button>
    </form>
    {% endif %}
    <br>
    <a href="{{url_for('.equipamentos')}}">Voltar</a>
    {% endblock content %}
</body>