{% extends 'equipLayout.html' %}
<head>
    <title>{% block title %}Excluir{% endblock title %}</title>
</head>
<body id="ExcluirEquipamento" class="col-sm-10 form-group-lg">
    <p><b>{% block h1 %}Excluir Equipamentos{% endblock h1 %}</b></p>
    {% block content %}
    <form action="{{ url_for('.excluir') }}" method="POST">
        <!--<p>Digite o numero do equipamento</p>-->
        <input type="text" id="numeroEquipamento" name="numeroEquipamento" autocomplete="on" />
        <button type="submit">Buscar</button>
    </form>
    <br>
    {% if equipamento != None and equipamento != Null %}
    <form action="./remover/{{ equipamento['numeroEquipamento'] }}" method="POST">
        <table class="table" id="listaEquipamentosTable">
            <thead class="thead-dark">
                <tr>
                    <th>Numero do equipamento</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tr>
                <td id="">{{ equipamento['numeroEquipamento'] }}</td>
                <td id="">{{ equipamento['marca'] }}</td>
                <td id="">{{ equipamento['modelo'] }}</td>
                <td id="">{{ equipamento['status'] }}</td>
            </tr>
        </table>
        <button type="submit">Excluir</button>
    </form>
    {% endif %}
    <br>
    <a href="{{url_for('.equipamentos')}}">Voltar</a>
    {% endblock content %}
</body>
