{% extends 'baseLayout.html' %}
<head>
    <title>{% block title %}Localizar{% endblock title %}</title>
</head>
<body id="localizarEquipamento" class="col-sm-10 form-group-lg">
    <p><b>{% block h1 %}Localizar Equipamentos{% endblock h1 %}</p></b>

    {% block content %}

        <form action="{{ url_for('.localizar') }}" method="POST">
            <input type="text" id="numeroEquipamento" name="numeroEquipamento" autocomplete="on" />
            <button type="submit">Buscar</button>
        </form>
        <br>
        {% if equipamento != None and equipamento != Null %}
        <table class="table" id="listaEquipamentosTable">
            <thead class="thead-dark">
                <tr>
                    <th>Numero do equipamento</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tr>
                <td> {{ equipamento['numeroEquipamento'] }}</td>
                <td> {{ equipamento['marca'] }} </td>
                <td> {{ equipamento['modelo'] }}</td>
                <td> {{ equipamento['status'] }}</td>
            </tr>
        </table>
        {% endif %}
        <br>
        <a href="{{url_for('.equipamentos')}}">Voltar</a>
    {% endblock content %}
</body>
