{% extends 'site_template.html' %}

{% block body %}
<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Equipamentos
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> Usuários
                    </li>
                </ol>
            </div>
        </div>

        {% if equipamento != None and equipamento != Null %}
        <table class="table table-sm table-hover table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Número do equipamento</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Status</th>
                    <th class="actions">Ações</th>
                </tr>
            </thead>
            <tr>
                <td> {{ equipamento['numeroEquipamento'] }}</td>
                <td> {{ equipamento['marca'] }} </td>
                <td> {{ equipamento['modelo'] }}</td>
                <td> {{ equipamento['status'] }}</td>
                <td class="actions">
                    <a class="btn btn-warning btn-xs" href="/equipamentos/editar/{{ equipamento['numeroEquipamento'] }}">Editar</a>
                    <a href="/equipamentos/remover/{{ equipamento['numeroEquipamento'] }}" class="btn btn-danger btn-xs" onclick="return confirm('Deseja mesmo deletar este equipamento?')">Deletar</a>
                </td>
            </tr>
        </table>
        {% endif %}
        <div id="mensagens">
            {{mensagem}}
        </div>
        <br>
        <a class="btn btn-primary" href="{{url_for('equipamentos_app.equipamentos')}}">Voltar</a>
    </div>
</div>
{% endblock body %}